acdh-tei-pyutils
acdh-cfts-pyutils
certifi
charset-normalizer
click
filelock
huggingface-hub
idna
joblib
nltk
numpy
packaging
Pillow
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
urllib3

