:root {
  --color-primary: rgb(4, 130, 99);
  --color-secondary: rgb(0, 151, 114);
  --color-background: rgb(255, 255, 255);
  --color-background-light: rgb(250, 250, 250);
  --color-black: rgb(0, 0, 0);
  --color-background-dark: rgb(216, 216, 216);
  --color-grey: rgb(230, 230, 230);
  --color-text: rgb(0, 0, 0);
  --color-link: rgb(4, 130, 99);
  --color-visited: rgb(4, 130, 99);
  --color-seg: rgb(0, 151, 114);
  --color-focus: rgb(246, 166, 35);
  --primary-color: rgb(4, 130, 99);
  --secondary-color: #f8f9fa;
  --text-color: #000;
  --fn-color: rgb(0, 102, 153);
  /*   --fn-color: rgb(51, 102, 153); */
  --bs-btn-bg: rgb(4, 130, 99) !important;
  --font-family: "Oswald", Verdana, "Helvetica", sans-serif;
  --font-family-roboto: Roboto, Noto, sans-serif;
  --font-size: 1.25rem;
  --font-size-small: 75%;
  --btn-text-color: rgb(255, 255, 255);
  /*  --bs-body-font-family: Georgia, serif;*/
  --bs-badge-color: rgb(4, 130, 99) !important;
  --height-footer: 85%;
}
